dwm/dwm
dwm/dwm.o
dwm/drw.o
dwm/util.o
dwm/*.orig
dwm/*.rej
dwm/patches/

dmenu/dmenu
dmenu/*.o
dmenu/*.orig
dmenu/*.rej
dmenu/patches/

st/st
st/*.o
st/*.orig
st/*.rej
st/patches/
st/compile_flags.txt

